.navbar-inverse .navbar-brand{
	height:100px;
	padding:45px 15px 30px 130px;
	font-size:30px;
	color:maroon;
}
header.carousel-inner {
    height: 10%;
	width:10%;
}
.navbar-inverse .navbar-right{
	padding:30px 10px 30px 10px;
	float:left;
}
header.carousel .carousel-inner {
    height: 100%;
}
header.carousel {
    height: 60%;
	width:70%;
	margin: auto;
}
.navbar-inverse{
     background-image: url("head3.png") ;
	 background-repeat: no-repeat;
	 border-color: transparent;
	 background-color: transparent;
}
.navbar-collapse .navbar-right li a{
	color:black;
}
.carousel-caption {
    top: 0;
    bottom: auto;
}
.carousel img {
        
    }